<h4 class="ui icon center aligned header">
  <i class="comments outline icon"></i>
  What's talking?
</h4>

<div class="ui column grid ">    

    <div class="ui fluid raised card chatbox">   
      <div class="content" id="messages">      
        <div class="ui feed" id="chatroom-feed">
          <%= render @messages %>    
        </div> 
      </div>   
      <div class="extra content">    
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: create_path, remote: true) do |f| %>
          <div class="field">
              <%= f.text_field :body %>
          </div>
          </div>
        <% end %>
      </div>
    </div>

    
</div>
