<h2 class="ui center aligned header">Signup for MessageMe -  a complete ChatApp</h2>
<h3 class="ui center aligned icon header">
<i class="pencil alternate icon"></i>
  Signup
</h3>

<div class="ui placeholder raised segment">
  <form class="ui form">
    <div class="twelve wide field username">
      <label>Username</label>
      <input type="text" name="first-name" placeholder="Username">
    </div>

    <div class="twelve wide field password">
      <label>Password</label>
      <input type="text" name="last-name" placeholder="password">
    </div>

    <button class="ui orange medium button" type="submit">Sign up</button>
  </form>      
</div>
